/*****************************************
    Template : AAA StyleSheet / UI Guide
    Created Date:28-July-2016
    Modified Date:03-August-2016
    Version:0.3
*****************************************/
/*Global Variables*/
/*************************************
Typography Components
**************************************/
/*Font familys*/
/* Desktop */
/*Tablet*/
/*Mobile*/
/* Typography */
.roboto-slab-light {
  font-family: 'roboto_slablight';
}
.roboto-slab-regular {
  font-family: 'roboto_slabregular';
}
.roboto-regular {
  font-family: 'robotoregular';
  letter-spacing: .16em;
}
.roboto-medium {
  font-family: 'robotomedium';
}
.roboto-light {
  font-family: 'robotolight';
}
.font-d {
  letter-spacing: .14em;
}
.font-e {
  letter-spacing: .02em;
}
/*Base Color Coding*/
/*Basic CSS Style*/
html,
body {
  font-family: 'robotoregular';
  color: #000;
  background: #ccc none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
}
img,
:hover,
:focus {
  outline: none;
}
a {
  color: #000;
  text-decoration: none;
  font-family: inherit;
}
a:focus,
a:hover {
  color: #0099FF;
  text-decoration: none;
}
#page-container {
  background: #fff none;
}
.dark-bg {
  background-color: #005095;
  padding: 20px 0;
  color: #fff;
}
.icon-text {
  padding: 0px 20px;
}
.icon-text i {
  padding-right: 10px;
  font-size: 12px;
}
.table-cp {
  display: table;
  width: 100%;
}
.table-row {
  display: table-row;
  vertical-align: middle;
}
.table-cell {
  display: table-cell;
  vertical-align: middle;
  float: none;
}
/*Spacings*/
.horizontal-space {
  margin-bottom: 30px;
}
.component-space,
.top-space {
  padding-top: 130px;
}
.bottom-space {
  padding-bottom: 400px;
}
.component-min-h {
  min-height: 620px;
}
/*Header Nav*/
.navbar-default .navbar-nav > li > a {
  color: #0099FF;
}
.nav > li > a {
  position: relative;
  display: inline;
  padding: 10px 15px;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #0099FF;
  background-color: transparent;
}
.breadcrumb {
  padding: 0px 0px;
  margin-bottom: 0px;
  list-style: none;
  background-color: transparent;
  border-radius: 0px;
}
.breadcrumb a {
  color: #fff;
}
.dark-bg {
  background: #012546 none;
  padding: 20px;
}
.navbar {
  position: relative;
  min-height: 0px;
  margin-bottom: 0px;
  border: 1px solid transparent;
}
.logo {
  background: #fff;
  padding: 30px 20px;
  display: inline-block;
  -webkit-box-shadow: 0 8px 15px 0 #ccc;
  box-shadow: 0 8px 15px 0 #ccc;
  position: absolute;
  top: -19px;
}
.header-section {
  background: #1979ce;
  /*background: -moz-linear-gradient(top, rgba(25, 121, 206, 1) 0%, rgba(20, 101, 186, 1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(25, 121, 206, 1)), color-stop(100%, rgba(20, 101, 186, 1)));
background: -webkit-linear-gradient(top, rgba(25, 121, 206, 1) 0%, rgba(20, 101, 186, 1) 100%);
background: -o-linear-gradient(top, rgba(25, 121, 206, 1) 0%, rgba(20, 101, 186, 1) 100%);
background: -ms-linear-gradient(top, rgba(25, 121, 206, 1) 0%, rgba(20, 101, 186, 1) 100%);
background: linear-gradient(to bottom, rgba(25, 121, 206, 1) 0%, rgba(20, 101, 186, 1) 100%);
filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#1979ce', endColorstr='#1465ba', GradientType=0); */
  padding-top: 19px;
  padding-bottom: 19px;
}
/*************************
Button style Components
*************************/
/*Large Buttons*/
.btn-style {
  text-decoration: none;
  border-radius: 4px;
  transition: all ease .2s;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  color: #fff;
}
.btn-style:hover {
  transform: translateY(-1px);
  text-decoration: none;
  color: #fff;
}
.btn-style:focus,
.btn-style:active {
  transform: translateY(1px);
  color: #fff;
}
.btn-style.btn-sm {
  padding: 3px 15px;
}
.btn-style.btn-lg {
  padding: 12px 35px;
}
.btn-style.btn-xs-size {
  font-size: 13px;
  letter-spacing: .14em;
}
.btn-style.btn-color-blue {
  background-color: #0099FF;
  border: solid 1px #0099FF;
}
.btn-style.btn-color-blue:hover {
  box-shadow: 0px 1px 0px #012546;
  background-color: #00AAFF;
}
.btn-style.btn-color-blue:active {
  box-shadow: 0px -1px 0px #012546;
  background-color: #0099FF;
}
.btn-style.btn-color-orange {
  background-color: #ff4639;
  border: solid 1px #ff4639;
}
.btn-style.btn-color-orange:hover {
  box-shadow: 0px 1px 0px #ff4639;
  background-color: #ff4639;
}
.btn-style.btn-color-orange:active {
  box-shadow: 0px -1px 0px #ff4639;
  background-color: #ff4639;
}
.btn-style.btn-reversed {
  color: #0099FF;
  background-color: #fff;
}
.btn-style.btn-reversed:hover {
  box-shadow: none;
  transform: inherit;
  background-color: #00AAFF;
  opacity: 0.9;
  color: #fff;
}
.btn-style.btn-reversed:active {
  color: #fff;
  opacity: 0.8;
  background-color: #1080D8;
}
.btn-style.btn-border {
  border: solid 1px transparent;
  background: #fff;
  color: #1080D8;
}
.btn-style.btn-border:hover {
  border: solid 1px transparent;
  opacity: 0.9;
}
.btn-style.btn-border:active {
  background-color: #fff;
  color: #1080D8;
  opacity: 0.8;
}
.btn-style.btn-border.btn-border-reversed {
  border: solid 1px #fff;
  background: transparent none;
  color: #fff;
}
.btn-style.btn-border.btn-border-reversed:hover {
  opacity: 0.9;
  background: #fff;
  color: #1080D8;
}
.btn-style.btn-border.btn-border-reversed:active {
  opacity: 0.8;
  background: #fff;
}
/*Large text links*/
.link-btn {
  display: inline-block;
  cursor: pointer;
  border: none;
  background: transparent none;
  padding: 0;
  font-family: 'robotomedium';
}
.link-btn.link-lg {
  font-size: 18px;
}
.link-btn.link-sm {
  font-size: 15px;
}
.link-btn:hover {
  text-decoration: underline;
}
.link-btn:active,
.link-btn:focus {
  color: #0099FF;
}
.link-btn.link-color-blue {
  color: #0099FF;
}
.link-btn.link-color-blue:hover {
  color: #00AAFF;
}
.link-btn.link-color-blue:active {
  color: #058dd8;
}
.link-btn.link-color-orange {
  color: #ff4639;
}
.link-btn.link-color-orange:hover {
  color: #ff584d;
}
.link-btn.link-color-orange:active {
  color: #db3c31;
}
.link-btn.link-reversed {
  color: #fff;
}
.link-btn.link-reversed:hover {
  color: #fff;
  opacity: 0.9;
  text-decoration: underline;
}
.link-btn.link-reversed:active,
.link-btn.link-reversed:focus {
  color: #fff;
  opacity: 0.8;
}
/*Tabs*/
.nav > li > a {
  border-bottom: 4px solid transparent;
  color: #303030;
}
.nav > li > a:hover {
  color: #0099FF;
  background-color: transparent;
  border-color: transparent;
}
.nav > li > a:focus {
  border-color: transparent;
}
.nav-tabs > li.active > a {
  border-color: transparent;
  border-bottom: 4px solid #0099FF;
  font-weight: bold;
}
.nav-tabs > li.active > a:hover {
  color: #0099FF;
  border-color: transparent;
}
.nav-tabs > li.active > a:focus {
  color: #303030;
  border-color: transparent;
}
/*****************************************
Page Intro Component
*****************************************/
.page-intro {
  background: #fff;
  padding-top: 100px;
  text-align: center;
}
.page-intro .margin-b {
  margin-bottom: 30px;
}
.page-intro h5 {
  text-transform: uppercase;
}
.page-intro p {
  margin-bottom: 30px;
}
/*****************************************
Full iamge Component
*****************************************/
.full-column-image {
  background: #fff;
  position: relative;
  text-align: center;
  display: table-cell;
  vertical-align: bottom;
}
.full-column-image .img-position {
  display: inline;
}
/*****************************************
Single column Component
*****************************************/
.single-column {
  padding-top: 130px;
  padding-bottom: 130px;
  text-align: center;
}
.single-column .horizontal-space2 {
  margin-bottom: 70px;
}
.single-column .img-responsive {
  display: inline-block;
  height: auto;
}
/*****************************************
    Footer CTA Component
*****************************************/
.footer-column {
  background: #fff;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center bottom;
  color: #fff;
}
/*****************************************
Membership Calculator Component
*****************************************/
.membership-calculator {
  background: #fff;
  padding-top: 130px;
  text-align: center;
  min-height: 620px;
}
.membership-calculator .caption {
  margin-bottom: 30px;
  margin-top: 0px;
  line-height: 1.25em;
  letter-spacing: .02em;
  text-transform: uppercase;
}
.membership-calculator p {
  margin-bottom: 150px;
  padding: 0px 170px;
}
.membership-calculator .membership-calculator-block {
  background: #eee;
  min-height: 600px;
  position: relative;
}
.membership-calculator .membership-img {
  min-height: 600px;
  background: transparent url() no-repeat bottom left;
  padding: 0px 100px;
}
.membership-calculator .membership-img .membership-pay-info {
  box-shadow: 0px 0px 15px #ccc;
  padding: 20px 20px 0px 20px;
  margin-top: 50px;
  background: #fff;
  text-align: left;
  color: #666;
  width: 400px;
}
.membership-calculator .membership-img .membership-pay-info .col-sm-6 {
  padding-right: 0px;
}
.membership-calculator .membership-img .img-position {
  position: relative;
  left: -150px;
  bottom: -4px;
}
.membership-calculator .membership-img .text-center {
  font-size: 12px;
  margin-bottom: 10px;
}
.membership-calculator .membership-img h6 {
  margin: 0px;
  padding: 0px;
  line-height: 50px;
  color: #888;
}
.membership-calculator .membership-img .price {
  font-size: 36px;
  line-height: 50px;
}
.membership-calculator .membership-img .price-total {
  font-size: 46px;
  color: #66C996;
  padding: 70px 0px;
}
.membership-calculator .membership-img hr {
  border-top: dashed 1px #ccc;
  float: left;
  width: 100%;
  background: transparent;
  margin-bottom: 0px;
}
.membership-calculator .membership-img .total-saving-price {
  margin-top: 70px;
  font-family: 'robotomedium' !important;
  font-size: 20px;
  color: #000;
}
.membership-calculator .block-position {
  position: absolute;
  right: 0;
  top: -35px;
}
.membership-calculator .membership-discount-details {
  padding: 0px;
  transform: translateY(-30px);
  display: table-cell;
  vertical-align: middle;
  height: 700px;
}
.membership-calculator .membership-discount-details .item {
  padding: 32px 20px;
  text-align: left;
}
.membership-calculator .membership-discount-details .item .services-title {
  color: #1D603B;
  margin: 0px;
  padding: 0px;
}
.membership-calculator .membership-discount-details .item .icon {
  float: left;
  margin-right: 15px;
}
.membership-calculator .membership-discount-details .item .price {
  color: #1D603B;
  font-size: 20px;
  float: left;
  position: relative;
}
.membership-calculator .membership-discount-details .item .price .discount-price {
  position: absolute;
  font-size: 14px;
  top: -20px;
  text-decoration: line-through;
  color: #47976C;
}
.membership-calculator .membership-discount-details .item .total-price {
  color: #fff;
  font-size: 20px;
  float: right;
}
.membership-calculator .membership-discount-details .item:nth-child(even) {
  background: #66C996;
}
.membership-calculator .membership-discount-details .item:nth-child(odd) {
  background: #4dbf84;
}
.membership-calculator .membership-discount-details .title {
  text-transform: uppercase;
  margin: 0px;
  padding: 5px 0px;
  min-height: auto;
  background: #006b34 !important;
  color: #b6e6cd;
}
/*****************************************
    branding column Component
*****************************************/
.branding-column {
  background: #0099FF;
  padding: 130px 0px;
  text-align: center;
}
.branding-column h2 {
  margin-top: 0px;
  color: #fff;
}
.branding-column .brand-items {
  margin-top: 70px;
}
.branding-column .brand-items li {
  width: 19.5%;
  display: inline-block;
}
.branding-column .img-responsive {
  display: inline-block;
  height: auto;
}
/*****************************************
    Footer CTA Component
*****************************************/
.footer-global {
  background-color: #303030;
  color: #ccc;
}
.footer-global li {
  margin: 15px 10px;
}
.footer-global a {
  color: #fff;
}
.footer-global .social-icons .list-inline {
  margin: 0;
}
.footer-global .copy-rights {
  padding: 15px 0;
  letter-spacing: normal;
}
/*****************************************
50-50 image Component
*****************************************/
.img-50-50 {
  background-repeat: no-repeat;
  background-position: center bottom;
}
.img-50-50 .img-responsive {
  display: inline-block;
  height: auto;
}
.img-50-50 .textblock-50-50 {
  text-align: left;
}
.img-50-50 .round-circle {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  height: 70px;
  width: 70px;
  display: inline-block;
  border: solid 2px #ccc;
  text-align: center;
  margin-right: 15px;
  line-height: 65px;
}
.flex-component {
  background-color: #e1e1e1;
  display: flex;
  align-items: stretch;
  min-height: 400px;
  max-height: 900px;
}
.flex-component .content {
  width: 50%;
  display: flex;
  align-items: center;
}
.flex-component .content .text-wrap {
  width: 76%;
  padding: 12%;
}
.flex-component img {
  position: absolute;
  bottom: 0;
}
.flex-component .image-wrap {
  width: 50%;
  align-self: flex-end;
  position: relative;
}
/*Responsive*/
/*****************************************
    Template : Responsive
    Created Date:28-July-2016
    Modified Date:28-July-2016
    Version:0.1
*****************************************/
/*Desktop Device*/
@media (min-width: 769px) {
  .font-a {
    font-size: 54px;
    line-height: 58px;
  }
  .font-b {
    font-size: 36px;
    line-height: 40px;
  }
  .font-c {
    font-size: 13px;
    line-height: 16px;
  }
  .font-d {
    font-size: 12px;
    line-height: 14px;
  }
  .font-e {
    font-size: 15px;
    line-height: 18px;
  }
  .font-f {
    font-size: 20px;
    line-height: 24px;
  }
  .font-g {
    font-size: 20px;
    line-height: 28px;
  }
  .font-h {
    font-size: 15px;
    line-height: 18px;
  }
  .container-custom {
    max-width: 1700px;
    margin: 0 auto;
  }
  /* Gutter Spaceing 40px */
  div[class^="col"] {
    padding-left: 20px;
    padding-right: 20px;
  }
  .horizontal-component-space {
    padding: 130px 0;
  }
  .horizontal-space2 {
    margin-bottom: 70px;
  }
  .table-cell {
    padding: 0px !important;
  }
}
/*Tablet Device*/
@media (min-width: 641px) and (max-width: 768px) {
  /* Gutter Spaceing 30px */
  div[class^="col"] {
    padding-left: 15px;
    padding-right: 15px;
  }
  /* Tablet */
  .font-a {
    font-size: 44px;
    line-height: 48px;
  }
  .font-b {
    font-size: 28px;
    line-height: 32px;
  }
  .font-c {
    font-size: 13px;
    line-height: 16px;
    letter-spacing: .16em;
  }
  .font-d {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: .14em;
  }
  .font-e {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: .02em;
  }
  .font-f {
    font-size: 18px;
    line-height: 22px;
  }
  .font-g {
    font-size: 20px;
    line-height: 28px;
  }
  .font-h {
    font-size: 15px;
    line-height: 18px;
  }
  /*Full image Component*/
  .component-space {
    padding-top: 100px;
  }
  .single-column {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .horizontal-component-space {
    padding: 100px 0;
  }
  .horizontal-space2 {
    margin-bottom: 30px;
  }
  .footer-column.icon-text {
    margin: 15px;
    display: block;
  }
  .img-50-50 .table-cell {
    float: none;
    padding: 100px 0 0;
  }
}
/*Mobile Device*/
@media (min-width: 320px) and (max-width: 640px) {
  /* Gutter Spaceing 16px */
  div[class^="col"] {
    padding-left: 8px;
    padding-right: 8px;
  }
  /* Mobile */
  .font-a {
    font-size: 36px;
    line-height: 40px;
  }
  .font-b {
    font-size: 28px;
    line-height: 33px;
  }
  .font-c {
    font-size: 13px;
    line-height: 16px;
    letter-spacing: .16em;
  }
  .font-d {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: .14em;
  }
  .font-e {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: .02em;
  }
  .font-f {
    font-size: 18px;
    line-height: 22px;
  }
  .font-g {
    font-size: 18px;
    line-height: 24px;
  }
  .font-h {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.3px;
  }
  /*Footer CTA Component*/
  .footer-column {
    padding-top: 70px;
  }
  /*Full image Component*/
  .component-space {
    padding-top: 70px;
  }
  .horizontal-component-space {
    padding: 70px 0;
  }
  .horizontal-space2 {
    margin-bottom: 30px;
  }
  .single-column {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .single-column .horizontal-space2 {
    margin-bottom: 30px;
  }
  .footer-column .icon-text {
    margin: 15px;
    display: block;
  }
  .footer-global {
    line-height: 40px;
    padding: 30px 0;
  }
  .footer-global li {
    display: block;
    margin: 10px 0;
  }
  .footer-global .social-icons,
  .footer-global .footer-links,
  .footer-global .copy-rights {
    padding-top: 45px;
  }
  .social-icons li {
    display: inline-block;
    margin: 0 15px;
  }
  .img-50-50 .table-cell {
    float: none;
    display: block;
    padding: 70px 0 0;
  }
  .img-50-50 .textblock-50-50 {
    padding: 0px 20px;
  }
  .flex-component {
    display: block;
  }
  .flex-component .content {
    width: 100%;
    display: block;
  }
  .flex-component .content .text-wrap {
    width: 100%;
    padding: 20px;
  }
  .flex-component .content .image-wrap {
    width: 100%;
  }
}