/*****************************************
50-50 image Component
*****************************************/

.img-50-50 {
    display: flex;
    align-content: center;
    .flex-component {
        .content {
            .text-block {
                padding: 60px;
                .btn-style,
                .link-btn {
                    margin: 0;
                }
            }
        }
        .image-block {
            padding: 0;
            align-self: flex-end;
        }
    }
    .row-reverse {
        flex-direction: row-reverse;
    }
}
