/*****************************************
50-50 image Component
*****************************************/

.img-50-50 {
    display: flex;
    align-content: center;
    background-size: cover;
    .flex-component {
        align-self: flex-end;
        .content {
            .text-block {
                padding: 100px 60px;
                .btn-style,
                .link-btn {
                    margin: 0;
                }
            }
        }
        .image-block {
            padding: 0;
            align-self: flex-end;
        }
    }
    .row-reverse {
        flex-direction: row-reverse;
    }
    .round-circle {
        display: inline-block;
        width: 70px;
        height: 70px;
        padding: 15px 0;
        text-align: center;
        vertical-align: middle;
        border: 2px solid #fff;
        border-radius: 100px;
        margin-right: 10px;
    }
}
