/*****************************************
Membership Calculator Component
*****************************************/

.membership-calculator {
    background: @color-white;
    text-align: center;
    min-height: 620px;
    .table-block {
        display: table;
        width: 100%;
        .table-cell {
            display: table-cell;
            vertical-align: middle;
            .position-rel {
                position: relative;
            }
        }
    }
    .caption {
        margin-bottom: 30px;
        margin-top: 0px;
        line-height: 1.25em;
        letter-spacing: .02em;
        text-transform: uppercase;
    }
    .membership-calculator-block {
        background: #eee;
        min-height: 600px;
        position: relative;
    }
    .membership-details {
        .img-membership {
            img {
                max-width: 100%;
                height: auto;
            }
        }
        .horizontal-space {
            margin-bottom: 70px;
        }
        .membership-pay-info {
            box-shadow: 0px 0px 15px #ccc;
            padding: 20px 20px 0px 20px;
            background: @color-white;
            text-align: left;
            color: #666;
            width: 420px;
            margin-left: auto;
            margin-right: auto;
            .col-sm-6 {
                padding-right: 0px;
            }
        }
        .img-position {
            position: relative;
            left: -150px;
            bottom: -4px;
        }
        .price {}
        .price-total {
            font-size: 46px;
            color: #66C996;
        }
        hr {
            border-top: dashed 1px #ccc;
            float: left;
            width: 100%;
            background: transparent;
            margin-bottom: 0px;
        }
        .total-saving-price {
            color: @color-black;
        }
        .MC-horizontal-space {
            margin-top: @space-lg - 60;
            margin-bottom: @space-lg - 60;
        }
    }
    .membership-discount-details {
        .item {
            text-align: left;
            padding-top: 36px;
            padding-bottom: 30px;
            li {
                list-style-type: none;
                display: inline-block;
                vertical-align: middle;
                padding-left: 65px;
            }
            .services-title {
                color: #1D603B;
                background: url() no-repeat 15px 50%;
                padding-left: 65px;
            }
            .icon {
                float: left;
                margin: 0px 15px;
            }
            .price {
                color: #1D603B;
                position: relative;
                text-align: left;
                width: 105px;
                .discount-price {
                    position: absolute;
                    top: -18px;
                    text-decoration: line-through;
                    color: #47976C;
                    right: 0;
                    float: left;
                    width: 100%;
                    text-align: left;
                }
            }
            .total-price {
                color: @color-white;
                position: relative;
                padding-right: 15px;
                width: 125px;
                .title-saved {
                    position: absolute;
                    top: -18px;
                    color: #47976C;
                }
            }
        }
        .item:nth-child(even) {
            background-color: #66C996;
        }
        .item:nth-child(odd) {
            background-color: #4dbf84;
        }
        .title {
            text-transform: uppercase;
            padding: 5px 0px;
            min-height: auto;
            background: #006b34 !important;
            color: #b6e6cd;
            width: 100%;
        }
    }
    .title-space {
        margin-bottom: 30px;
    }
}

.total-saving-price {
    width: 80%;
}
