/*****************************************
Template : Responsive
Created Date:28-July-2016
Modified Date:28-July-2016
Version:0.1
*****************************************/


/*Desktop Device*/

@media (min-width:769px) {
    .font-a {
        font-size: @a-font-size-d;
        line-height: 58px;
    }
    .font-b {
        font-size: @b-font-size-d;
        line-height: 40px;
    }
    .font-c {
        font-size: @c-font-size-d;
        line-height: 16px;
    }
    .font-d {
        font-size: @d-font-size-d;
        line-height: 14px;
    }
    .font-e {
        font-size: @e-font-size-d;
        line-height: 18px;
    }
    .font-f {
        font-size: @f-font-size-d;
        line-height: 24px;
    }
    .font-g {
        font-size: @g-font-small-d;
        line-height: 28px;
    }
    .font-h {
        font-size: @h-font-large-d;
        line-height: 18px;
    }
    .container-custom {
        max-width: 1700px;
        margin: 0 auto;
    }
    /* Gutter Spaceing 40px */
    div[class^="col"] {
        padding-left: 20px;
        padding-right: 20px;
    }
    .horizontal-component-space {
        padding: 130px 0;
    }
    .horizontal-space2 {
        margin-bottom: @space-lg - 60;
    }
    .flex-component {
        display: flex;
        align-items: center;
    }
    .component-height {
        max-height: 900px;
    }
    .membership-img {
        min-height: 600px;
    }
    .membership-calculator .h-space-cal {
        padding-bottom: @space-lg + 20;
    }
}


/*Tablet Device*/

@media (min-width:641px) and (max-width:768px) {
    /* Gutter Spaceing 30px */
    div[class^="col"] {
        padding-left: 15px;
        padding-right: 15px;
    }
    /* Tablet */
    .font-a {
        font-size: @a-font-size-t;
        line-height: 48px;
    }
    .font-b {
        font-size: @b-font-size-t;
        line-height: 32px;
    }
    .font-c {
        font-size: @c-font-size-t;
        line-height: 16px;
        letter-spacing: .16em;
    }
    .font-d {
        font-size: @d-font-size-t;
        line-height: 14px;
        letter-spacing: .14em;
    }
    .font-e {
        font-size: @e-font-size-t;
        line-height: 18px;
        letter-spacing: .02em;
    }
    .font-f {
        font-size: @f-font-size-t;
        line-height: 22px;
    }
    .font-g {
        font-size: @g-font-small-t;
        line-height: 28px;
    }
    .font-h {
        font-size: @h-font-large-t;
        line-height: 18px;
    }
    /*Full image Component*/
    .component-space {
        padding-top: 100px;
    }
    .single-column {
        padding-top: @space-md;
        padding-bottom: @space-md;
    }
    .horizontal-component-space {
        padding: 100px 0;
    }
    .horizontal-space2 {
        margin-bottom: @space-sm;
    }
    .img-50-50 .row-reverse .content .text-block,
    .img-50-50 .flex-component .content .text-block {
        padding: 70px 40px;
    }
    .img-50-50 {
        .flex-component {
            .content {
                .text-block {
                    .round-circle {
                        width: 60px;
                        height: 60px;
                    }
                }
            }
        }
    }
    .footer-column {
        .icon-text {
            margin: 15px;
            display: inline-block;
        }
    }
    .icon-row h2 {
        height: 40px;
    }
    .icon-row .icon-title {
        margin-bottom: 15px;
    }
    .membership-calculator {
        padding-top: 100px;
        .h-space-cal {
            padding-bottom: 70px;
        }
        .membership-details {
            padding: 0px;
            width: 100%;
        }
        .membership-discount-details {
            transform: translateY(0px);
        }
        .no-float {
            float: none;
            margin: 0 auto;
        }
        .block-position {
            position: relative;
            right: 0px;
            top: 0px;
        }
    }
}


/*Mobile Device*/

@media (min-width:320px) and (max-width:640px) {
    /* Gutter Spaceing 16px */
    div[class^="col"] {
        padding-left: 8px;
        padding-right: 8px;
    }
    /* Mobile */
    .font-a {
        font-size: @a-font-size-m;
        line-height: 40px;
    }
    .font-b {
        font-size: @b-font-size-m;
        line-height: 33px;
    }
    .font-c {
        font-size: @c-font-size-m;
        line-height: 16px;
        letter-spacing: .16em;
    }
    .font-d {
        font-size: @d-font-size-m;
        line-height: 14px;
        letter-spacing: .14em;
    }
    .font-e {
        font-size: @e-font-size-m;
        line-height: 18px;
        letter-spacing: .02em;
    }
    .font-f {
        font-size: @f-font-size-m;
        line-height: 22px;
    }
    .font-g {
        font-size: @g-font-small-m;
        line-height: 24px;
    }
    .font-h {
        font-size: @h-font-large-m;
        line-height: 18px;
        letter-spacing: 0.3px;
    }
    /*Footer CTA Component*/
    .footer-column {
        padding-top: 70px;
    }
    /*Full image Component*/
    .component-space {
        padding-top: 70px;
    }
    .horizontal-component-space {
        padding: 70px 0;
    }
    .single-column {
        padding-top: @space-lg - 60;
        padding-bottom: @space-lg - 60;
        .horizontal-space2 {
            margin-bottom: @space-sm;
        }
    }
    .footer-column {
        .horizontal-space2 {
            margin-bottom: @space-sm;
        }
        .icon-text {
            margin: 15px;
            display: inline-block;
        }
    }
    .footer-global {
        line-height: 40px;
        padding: 30px 0;
        li {
            display: block;
            margin: 10px 0;
        }
        .social-icons,
        .footer-links,
        .copy-rights {
            padding-top: 45px;
        }
    }
    .social-icons li {
        display: inline-block;
        margin: 0 15px;
    }
    .img-50-50 .row-reverse .content .text-block,
    .img-50-50 .flex-component .content .text-block {
        padding: 70px 20px;
    }
    .img-50-50 {
        .flex-component {
            .content {
                .text-block {
                    .round-circle {
                        width: 60px;
                        height: 60px;
                    }
                }
            }
        }
    }
    .single-column .image-block {
        padding: 0 30px;
    }
    .membership-calculator {
        padding-top: 100px;
        .membership-details {
            padding: 0px;
            background-position: center bottom;
        }
        .membership-details {
            .membership-pay-info {
                width: 100%;
                margin: 0px;
                box-shadow: 0px 0px 0px #ccc;
            }
            .img-membership {
                left: 0;
            }
        }
        .block-position {
            position: relative;
            top: 0;
        }
        .membership-discount-details {
            transform: translateY(0px);
        }
        .membership-pay-info {
            div[class^="col"] {
                width: 50%;
                float: left;
            }
        }
        .h-space-cal {
            padding-bottom: 70px;
        }
    }
    .item {
        div[class^="col"] {
            width: 50%;
            float: left;
        }
    }
}