/*****************************************
Single column Component
*****************************************/

.single-column {
    padding-top: @space-lg;
    padding-bottom: @space-lg;
    text-align: center;
    .horizontal-space2 {
        margin-bottom: @space-lg - 60;
    }
    .image-block {
        max-width: 1300px;
        padding: 0 70px;
    }
    .img-responsive {
        display: inline-block;
        height: auto;
    }
}
