/*Two Column Comparison*/

.tcc-container-padding{
  padding: 30px;
}
.tcc-horizontal-space{margin-bottom:70px}
.column-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.tcc-cta-top{
  padding-top: 30px;
}