/*****************************************
    Template : Touch UI Widgets Template
    Created Date:28-July-2016
    Modified Date:28-July-2016
    Version:0.1
*****************************************/

/*************************************
Typography
**************************************/
.roboto-slab-light {
  font-family: 'roboto_slablight';
}
.roboto-slab-regular {
  font-family: 'roboto_slabregular';
}
.roboto-regular {
  font-family: 'robotoregular';
  letter-spacing: .16em;
}
.font-d {
  letter-spacing: .14em;
}
.font-e {
  letter-spacing: .02em;
}
.roboto-medium {
  font-family: 'robotomedium';
}
.roboto-light {
  font-family: 'robotolight';
}

/*Responsive Styles*/
/*Desktop Device*/
@media (min-width: 769px) {
  .font-a {
    font-size: 54px;
    line-height: 58px;
  }
  .font-b {
    font-size: 36px;
    line-height: 40px;
  }
  .font-c {
    font-size: 13px;
    line-height: 16px;
  }
  .font-d {
    font-size: 12px;
    line-height: 14px;
  }
  .font-e {
    font-size: 15px;
    line-height: 18px;
  }
  .font-f {
    font-size: 20px;
    line-height: 24px;
  }
  .font-g {
    font-size: 20px;
    line-height: 28px;
  }
  .font-h {
    font-size: 15px;
    line-height: 18px;
  }
}

/*Tablet Device*/
@media (min-width: 640px) and (max-width: 768px) {
  /* Gutter Spaceing 30px */
  div[class^="col"] {
    padding-left: 15px;
    padding-right: 15px;
  }
  /* Tablet */
  .font-a {
    font-size: 44px;
    line-height: 48px;
  }
  .font-b {
    font-size: 28px;
    line-height: 32px;
  }
  .font-c {
    font-size: 13px;
    line-height: 16px;
    letter-spacing: .16em;
  }
  .font-d {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: .14em;
  }
  .font-e {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: .02em;
  }
  .font-f {
    font-size: 18px;
    line-height: 22px;
  }
  .font-g {
    font-size: 20px;
    line-height: 28px;
  }
  .font-h {
    font-size: 15px;
    line-height: 18px;
  }
}

/*Mobile Device*/
@media (min-width: 320px) and (max-width: 640px) {
  /* Gutter Spaceing 16px */
  div[class^="col"] {
    padding-left: 8px;
    padding-right: 8px;
  }
  /* Mobile */
  .font-a {
    font-size: 36px;
    line-height: 40px;
  }
  .font-b {
    font-size: 28px;
    line-height: 33px;
  }
  .font-c {
    font-size: 13px;
    line-height: 16px;
    letter-spacing: .16em;
  }
  .font-d {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: .14em;
  }
  .font-e {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: .02em;
  }
  .font-f {
    font-size: 18px;
    line-height: 22px;
  }
  .font-g {
    font-size: 18px;
    line-height: 24px;
  }
  .font-h {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.3px;
  }
}
