/*****************************************
    Template : AAA StyleSheet / UI Guide
    Created Date:28-July-2016
    Modified Date:29-July-2016
    Version:0.2
*****************************************/
/*Basic CSS Style*/
html,
body {
  font: 'robotoregular';
  color: #000;
}
p {
  margin: 0;
  padding: 0;
}
a {
  color: #000;
  text-decoration: none;
}
a:focus,
a:hover {
  color: #dff0d8;
  text-decoration: none;
}

/*Responsive Styles*/